<h1>Dashboard</h1>

<div class="container">
  <tsm-summary-card
    label="Gmail Summary"
    [datasource]="
      dashboard()?.summary ?? [{ title: 'Loading...', value: undefined }]
    "
    (drillDown)="drillDown($event)"
    [inboxCountWarning]="dashboard()?.inboxCountWarning ?? false"
  ></tsm-summary-card>
  <tsm-summary-card
    label="Top Senders"
    [datasource]="
      dashboard()?.topTenSenders ?? [{ title: 'Loading...', value: 0 }]
    "
    (drillDown)="drillDown($event)"
  ></tsm-summary-card>

  <tsm-summary-card
    label="Top Sender Domains"
    [datasource]="
      dashboard()?.topTenSenderDomains ?? [{ title: 'Loading...', value: 0 }]
    "
    (drillDown)="drillDown($event)"
  ></tsm-summary-card>

  <tsm-summary-card
    label="Top Labels"
    [datasource]="
      dashboard()?.topTenLabels ?? [{ title: 'Loading...', value: 0 }]
    "
    (drillDown)="drillDown($event)"
  ></tsm-summary-card>
</div>
