<mat-card appearance="outlined">
  <mat-card-title
    >{{ label() }}
    <mat-icon
      *ngIf="inboxCountWarning()"
      matTooltip="The sum of your inbox, sent and archived messages is greater than the total. This is likely because you have sent yourself emails."
      >info</mat-icon
    ></mat-card-title
  >
  <mat-card-content>
    {{ labels()?.length ?? 0 }}
    <mat-list>
      <mat-list-item *ngFor="let item of datasource()">
        <span>
          @if (labels()?.length) {
            {{ item.title | label: labels() }}
          } @else {
            {{ item?.title?.slice(0, 50) }}
            @if (item.title?.length ?? 0 > 50) {
              ...
            }
          }
        </span>
        <button
          mat-flat-button
          appearance="outlined"
          [disabled]="!item.drillDownKey"
          (click)="drillDown.emit(item.drillDownKey ?? 'unknown')"
        >
          {{ item.value }}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
