<mat-card appearance="outlined">
  <mat-card-title
    >{{ label() }}
    <mat-icon
      *ngIf="inboxCountWarning()"
      matTooltip="The sum of your inbox, sent and archived messages is greater than the total. This is likely because you have sent yourself emails."
      >info</mat-icon
    ></mat-card-title
  >
  <mat-card-content>
    @for (item of datasource(); track item.title) {
      <mat-card>
        <mat-card-content>
          @if (labels()?.length) {
            {{ item.title | label: labels() }}
          } @else {
            {{ item?.title?.slice(0, 50) }}
            @if (item.title.length > 50) {
              ...
            }
          }
          <mat-chip class="count">{{ item.value }}</mat-chip>
          <div class="actions" *ngIf="item.queryKey">
            <button
              mat-mini-fab
              aria-label="Example icon button with a menu icon"
              (click)="drillDown.emit(item.queryKey)"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <button
              mat-mini-fab
              aria-label="Example icon button with a menu icon"
              (click)="quickDelete.emit(item.queryKey)"
            >
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </mat-card-content>
</mat-card>
