SESSION_SECRET=your-session-secret
GMAIL_BATCH_SIZE=100
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=your-google-callback-url
JWT_SECRET=your-jwt-secret
MONGODB_URI=mongodb://mongo-user:mongo-password@server:27017/
MONGODB_DB_NAME=gmail
