API_URL=http://localhost:3000
TRUSTED_PROXIES=123.123.123.123,123.123.123.124,123.123.123.125 # CSV list of trusted proxies' IPs
CORS_ORIGINS=http://localhost:4200
CLIENT_URL=http://localhost:4200
SESSION_SECRET=your-session-secret
GMAIL_BATCH_SIZE=100
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=your-google-callback-url
JWT_SECRET=your-jwt-secret
MONGODB_URI=mongodb://admin:password@localhost:27017/task_mastery
MONGODB_DB_NAME=task_mastery
LOKI_HOST=
LOKI_BASIC_AUTH=
